# Environment variables
.env

# Python virtual environment
.venv/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Exclude pipeline script
clean_data.py
project_description.md

# Temporary Git configuration override
.gitconfig

# DuckDB database
*.db

# Logs
pipeline.log

# understand-anything temporary files
.understand-anything/
